<a href="https://colab.research.google.com/github/vohai2003/Pythoncode/blob/main/Pandas_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Câu 1: Tạo dataframe từ series, dữ liệu từ bàn phím

In [1]:
import pandas
Name = []
Birthday = []
PaypH = []
WorkH = []

In [2]:
for i in range(0,10):
  Name.append(input("Tên: "))
  Birthday.append(input("Ngày sinh: "))
  PaypH.append(float(input("Tiền công trên giờ: ")))
  WorkH.append(float(input("Số giờ làm việc: ")))

Tên: iojo
Ngày sinh: 32093
Tiền công trên giờ: 2
Số giờ làm việc: 4
Tên: ôpp
Ngày sinh: 5
Tiền công trên giờ: 23
Số giờ làm việc: 4
Tên: 14
Ngày sinh: 5
Tiền công trên giờ: 6
Số giờ làm việc: 243
Tên: 5
Ngày sinh: 253
Tiền công trên giờ: 6
Số giờ làm việc: 25
Tên: 5
Ngày sinh: 6
Tiền công trên giờ: 423
Số giờ làm việc: 5
Tên: 6
Ngày sinh: 352
Tiền công trên giờ: 4
Số giờ làm việc: 24
Tên: 3
Ngày sinh: 432
Tiền công trên giờ: 3
Số giờ làm việc: 34
Tên: 2
Ngày sinh: 243
Tiền công trên giờ: 4
Số giờ làm việc: 234
Tên: 1
Ngày sinh: 5
Tiền công trên giờ: 342
Số giờ làm việc: 5
Tên: 4
Ngày sinh: 24
Tiền công trên giờ: 3
Số giờ làm việc: 532

Ghép series để tạo thành dataframe

In [3]:
frame = {"Họ và tên":pandas.Series(Name),"Ngày sinh":pandas.Series(Birthday),"Tiền công trên giờ":pandas.Series(PaypH),"Giờ công":pandas.Series(WorkH)}
dt = pandas.DataFrame(frame)
print(dt)

  Họ và tên Ngày sinh  Tiền công trên giờ  Giờ công
0      iojo     32093                 2.0       4.0
1       ôpp         5                23.0       4.0
2        14         5                 6.0     243.0
3         5       253                 6.0      25.0
4         5         6               423.0       5.0
5         6       352                 4.0      24.0
6         3       432                 3.0      34.0
7         2       243                 4.0     234.0
8         1         5               342.0       5.0
9         4        24                 3.0     532.0

Tính tiền công cho công nhân

In [4]:
dt["Tiền công"] = dt['Tiền công trên giờ']*dt["Giờ công"]
print(dt)

  Họ và tên Ngày sinh  Tiền công trên giờ  Giờ công  Tiền công
0      iojo     32093                 2.0       4.0        8.0
1       ôpp         5                23.0       4.0       92.0
2        14         5                 6.0     243.0     1458.0
3         5       253                 6.0      25.0      150.0
4         5         6               423.0       5.0     2115.0
5         6       352                 4.0      24.0       96.0
6         3       432                 3.0      34.0      102.0
7         2       243                 4.0     234.0      936.0
8         1         5               342.0       5.0     1710.0
9         4        24                 3.0     532.0     1596.0

Bài 2: Tạo dataframe từ Dictionary chứa series. \

In [3]:
Sex = []
Age = []
Name = []
for i in range(0,10):
  Name.append(input("Tên: "))
  Age.append(int(input("Tuổi: ")))
  Sex.append(input("Giới tính: "))
dt = pandas.DataFrame({"Tên": pandas.Series(Name),"Tuổi":pandas.Series(Age),"Giới tính":pandas.Series(Sex)})
print(dt)

Tên: 09
Tuổi: 234432
Giới tính: 24
Tên: 423
Tuổi: 325
Giới tính: 54
Tên: 25
Tuổi: 345
Giới tính: 325
Tên: 53
Tuổi: 32
Giới tính: 5
Tên: 35
Tuổi: 346
Giới tính: 354
Tên: 24
Tuổi: 5
Giới tính: 643
Tên: 45
Tuổi: 345
Giới tính: 24
Tên: 132
Tuổi: 46
Giới tính: 54
Tên: 243
Tuổi: 132
Giới tính: 34
Tên: 43
Tuổi: 32
Giới tính: 31
   Tên    Tuổi Giới tính
0   09  234432        24
1  423     325        54
2   25     345       325
3   53      32         5
4   35     346       354
5   24       5       643
6   45     345        24
7  132      46        54
8  243     132        34
9   43      32        31

Tạo dataframe từ dictionary chứa list

In [10]:
dt = pandas.DataFrame({"Tên": Name,"Tuổi":Age,"Giới tính":Sex})
print(dt)

   Tên    Tuổi Giới tính
0   09  234432        24
1  423     325        54
2   25     345       325
3   53      32         5
4   35     346       354
5   24       5       643
6   45     345        24
7  132      46        54
8  243     132        34
9   43      32        31

Tạo dataframe từ list chứa dictionary

In [9]:
dt = pandas.DataFrame([{"Tên": Name},{"Tuổi":Age},{"Giới tính":Sex}],columns=["Tên","Tuổi","Giới tính"])
print(dt)

                                           Tên  \
0  [09, 423, 25, 53, 35, 24, 45, 132, 243, 43]
1                                          NaN
2                                          NaN

                                               Tuổi  \
0                                               NaN
1  [234432, 325, 345, 32, 346, 5, 345, 46, 132, 32]
2                                               NaN

                                    Giới tính
0                                         NaN
1                                         NaN
2  [24, 54, 325, 5, 354, 643, 24, 54, 34, 31]

Tách các cột từ dataframe

In [13]:
NameF = pandas.DataFrame(zip(list(dt["Tên"])))
AgeF = pandas.DataFrame(zip(list(dt["Tuổi"])))
SexF = pandas.DataFrame(zip(list(dt["Giới tính"])))
print("Tên:")
print(NameF)
print("Tuổi:")
print(AgeF)
print("Giới tính:")
print(SexF)

Tên:
     0
0   09
1  423
2   25
3   53
4   35
5   24
6   45
7  132
8  243
9   43
Tuổi
        0
0  234432
1     325
2     345
3      32
4     346
5       5
6     345
7      46
8     132
9      32
Giới tính
     0
0   24
1   54
2  325
3    5
4  354
5  643
6   24
7   54
8   34
9   31